Body{
  font-family: Arial;
  background: color #989898;
  padding: 40px;
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  margin : 5px;

}
.app-container{
  background: rgb(135, 135, 135);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(17, 255, 0);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
h1{
  margin-bottom: 20px;
  color: #282828;
  margin-top: 0;
  font-size: 2em;
  text-align: center;

}
.input-container{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.input-container input[type="text"]::placeholder{
  flex-grow: 1;
  color: #de0000;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ca0000;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  
} 

input[type="text"]{
  flex: 1;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 4px;
  font-size: 16px;
}
button{
  padding: 10px 15px;
  border: none;
  background-color: #28a745;
  color: rgb(197, 0, 0);
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s;
}
button:hover{
  background-color: #218838;
}